[33mcommit fa319fda4fba3b865b81761f7c180a55d6342f74[m[33m ([m[1;36mHEAD -> [m[1;32mmain[m[33m, [m[1;32m7f74105e59a737dd21144c391f80a6810cb349fe[m[33m)[m
Author: Issam Allymis <issamally0@gmail.com>
Date:   Sat Mar 4 03:00:07 2023 +0000

    a few modifications

[1mdiff --git a/.gitignore b/.gitignore[m
[1mindex c7bfd08..8e8f347 100644[m
[1m--- a/.gitignore[m
[1m+++ b/.gitignore[m
[36m@@ -7,3 +7,7 @@[m [m__pycache__/[m
 node_modules/[m
 .github/[m
 cloudinary_python.txt[m
[32m+[m[32mhtml>.html[m
[32m+[m[32mhtml>.html[m
[32m+[m[32mhtml>.html[m
[32m+[m[32m.html[m
[1mdiff --git a/.html b/.html[m
[1mdeleted file mode 100644[m
[1mindex e69de29..0000000[m
[1mdiff --git a/.vscode/launch.json b/.vscode/launch.json[m
[1mindex d9e387c..cfed446 100644[m
[1m--- a/.vscode/launch.json[m
[1m+++ b/.vscode/launch.json[m
[36m@@ -2,13 +2,20 @@[m
   // Use IntelliSense to learn about possible attributes.[m
   // Hover to view descriptions of existing attributes.[m
   "version": "0.2.0",[m
[31m-  "configurations": [[m
[31m-      {[m
[31m-            "name": "Python: Current File (Integrated Terminal)",[m
[31m-            "type": "python",[m
[31m-            "request": "launch",[m
[31m-            "program": "${file}",[m
[31m-            "console": "internalConsole"[m
[31m-        }[m
[32m+[m[32m  "configurations": [{[m
[32m+[m[32m      "name": "Python: Current File",[m
[32m+[m[32m      "type": "python",[m
[32m+[m[32m      "request": "launch",[m
[32m+[m[32m      "program": "${file}",[m
[32m+[m[32m      "console": "integratedTerminal",[m
[32m+[m[32m      "justMyCode": true[m
[32m+[m[32m    },[m
[32m+[m[32m    {[m
[32m+[m[32m      "name": "Python: Current File (Integrated Terminal)",[m
[32m+[m[32m      "type": "python",[m
[32m+[m[32m      "request": "launch",[m
[32m+[m[32m      "program": "${file}",[m
[32m+[m[32m      "console": "internalConsole"[m
[32m+[m[32m    }[m
   ][m
[31m-}[m
[32m+[m[32m}[m
\ No newline at end of file[m
[1mdiff --git a/assets/css/stylesheet.css b/assets/css/stylesheet.css[m
[1mindex a467b2b..8884b9a 100644[m
[1m--- a/assets/css/stylesheet.css[m
[1m+++ b/assets/css/stylesheet.css[m
[36m@@ -3,74 +3,118 @@[m [mheader {[m
   justify-content: space-between;[m
   align-items: center;[m
   padding: 20px;[m
[31m-  background-color: #4b8dfb ;[m
[31m-  text-transform: uppercase;[m
[32m+[m[32m  background-color: #0b0d10 ;[m
[32m+[m[32m  text-transform: initial;[m
   border-radius: 0.70rem;[m
   [m
 }[m
 [m
 #Small_Gym_Fitness {[m
[31m-    background-color: ---;[m
[32m+[m[32m    background-color: rgb(252, 2, 2);[m
 }[m
 [m
 #Small-Gym-Fitness {[m
[31m-  background-color: rgb(0, 0, 0);[m
[32m+[m[32m  background-color: rgb(10, 207, 251);[m
   border-radius: 0.70rem;[m
   font-family:'Courier New', Courier, monospace; [m
 }[m
 [m
 nav {[m
[31m-  background-color: #ffffff;[m
[32m+[m[32m  background-color: #04c3d4;[m
   color: #d30606;[m
[31m-  display: flex;[m
[31m-  justify-content: space-between;[m
   align-items: center;[m
   padding: 10px 20px;[m
   border-radius: 70rem;[m
 }[m
 [m
[31m-[m
[31m-[m
 nav a:hover {[m
[31m-  text-decoration: underline;[m
[32m+[m[32m  text-decoration: double;[m
 }[m
 [m
[31m-[m
[31m-[m
[31m-[m
[31m-#Page-2 {[m
[31m-  color:rgb(146, 3, 3);[m
[32m+[m[32m#about {[m
[32m+[m[32m  background-color: #ff0000;[m
 }[m
 [m
 #pack {[m
[31m-  background-color: rgb(255, 0, 0);[m
[32m+[m[32m  background-color: rgb(206, 236, 252);[m
   align-items: center;[m
   border-radius: 30rem;[m
 }[m
 [m
[32m+[m[32m/* class pricing, price deals*/[m
 .pricing {[m
   display: block;[m
[31m-  width: 200px;[m
[32m+[m[32m  width: 300px;[m
   margin: 0 auto;[m
[31m-border-radius: 60rem;[m
[32m+[m[32m  border-radius: 60rem;[m
[32m+[m[32m  font-weight: bold;[m
[32m+[m[32m}[m
[32m+[m
[32m+[m[32mform {[m
[32m+[m[32m  max-width: 500px;[m
[32m+[m[32