@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Quicksand:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
}

/* headings and logo */
h1, h2 {
  color: rgb(86, 147, 204);
  font-size: 250%;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h4 {
  color: rgb(86, 147, 204);
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

#logo {
  font-size: 250%;
  float: left;
  margin-left: 25px;
  letter-spacing: 5px;
}

/* navigation links */
#menu {
  font-size: 115%;
  letter-spacing: 4px;
  text-decoration: none;
}

#menu li {
  list-style-type: none;
  color: #5c5c5c;
  float: right;
  margin-right: 25px;
}

#menu a {
  text-decoration: none;
}

#menu, #logo {
  line-height: 75px;
}

#menu a:hover {
  background-color: #359eb1;
  color: #ffffff;
  padding: 2.5px;
  border-radius: 0.50em;
  border-bottom: 5.5px solid #3a3a3a;
  border-right: 5.5px solid #3a3a3a;
}

.current {
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid #3a3a3a
}

/* hero image and cover text info*/
#hero-out {
  height: 439px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* blue information box to the bottom right */
#cover-info, #cover-info h2 {
  color: #ffff;
}

#hero-image3 {
  height: 900px;
  width: 30%;
  background: url('./images/main-classes.jpg') no-repeat right center;
  float: right;
  overflow: hidden;


/* animates zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 4.5s;
animation-fill-mode: forwards;

}

/* creats a level of zoom for the hero image */
@keyframes hero-zoom {
    from{
         transform: scale(1.5)
    }
    to{
        transform: scale(1.1);

    }
    
}

#hero-image2 {
  height: 439px;
  width: 30%;
  background: url('./images/fitness-workout-group-team.avif') no-repeat right center;
  position: absolute;
  overflow: hidden;


/* animates zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 4.5s;
animation-fill-mode: forwards;

}

/* creats a level of zoom for the hero image */
@keyframes hero-zoom {
    from{
         transform: scale(1.5)
    }
    to{
        transform: scale(1.1);

    }
    
}

#hero-image {
  height: 439px;
  width: 100%;
  background: url('./images/group-circle.jpg') no-repeat center center;
  overflow: hidden;


/* animates zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 4.5s;
animation-fill-mode: forwards;

}

/* creats a level of zoom for the hero image */
@keyframes hero-zoom {
    from{
         transform: scale(1.5)
    }
    to{
        transform: scale(1.1);

    }
    
}

p {
  color: rgb(86, 147, 204);
}

#cover-info {
  font-size: 70%;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 95px;

  padding-top: 10px;
  padding-left: 10px;

  bottom: 7px;
  right: 6px;

  background-color: rgba(56, 141, 216, 0.7);

  position: absolute;
}

#left-reason {
  padding-top: 30px;
  width: 33%;
  float: left;
  border-radius: 0.75em;
}

#right-reason {
  padding-top: 30px;
  width: 33%;
  float: right;
  border-radius: 0.75em;
}

.reason-p {
  font-size: 18px;
  color: #3a3a3a;
}

#center-reason {
  padding-top: 30px;
  width: 33%;
  margin: 0 auto;
}

#strong-with-us {
  height: 400px;
  text-align: center;
}

#happy-customer {
  background-color: #ffffff;
  text-align: center;
  font-size: 6em;
  margin-left: 6px;
}

hr {
  width: 96%;
  border: 1px #42b6c4 solid;
  margin: 12px;
}

#reason {
  margin-top: 60px;
  font-size: 300%;
}

.left-reason-about {
  width: 65%;
  line-height: 35px;
  float: right;
  clear: both;
  margin-bottom: 47px;
}

.right-reason-about {
  width: 65%;
  line-height: 35px;
  float: left;
  clear: both;
  margin-bottom: 47px;
}

.left-reason-about {
  text-align: left;
}

.right-reason-about {
  text-align: right;
}

#center-outer {
  width: 295px;
  height: 295px;
  padding: 20px;
  border-radius: 20%;
  border: 0.1em solid #42b600;
  margin: 0 auto;
  background: whitesmoke;
}

#center-inner-img {
  background: url('./images/group-circle().jpg') no-repeat;
  height: 290px;
  border-radius: 20%;
  box-shadow: 0 6px 11px 0 #3a3a3a, 0 1em 1em 0 #3a3a3a;
}

/* time table */
table {
  margin: 0 auto;
  border-radius: 0.75em;
  box-shadow: 0 6px 13px 0 #3a3a3a, 0 1em 2em 0 #3a3a3a;
  background-color: #000000;
}

td, th {
  height: 2em;
  text-align: center;
  color: #ffffff;
  background-color: #42b6c4;
  font-weight: 900;
  font-size: 18px;
  padding: 1px;
  border-radius: 0.75em;
  letter-spacing: 4px;
  border: 2px #ffffff solid;
}

th,td:first-child {
  background-color: #000000;
}

td:last-child {
  background-color: #000000;
}

th {
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-decoration: underline;
}

/* back to top href link */
#top-button {
  width: 60px;
  color: midnightblue;
  font-size: 20px;
  font-weight:  600;
  text-align: center;
  margin: 0 auto;
  margin-top: 300px;
  padding: 5px;
  border: 2px solid #3a3a3a;
  border-radius: 60em;
  background-color: #42b6c4;
  text-decoration: none;
  box-shadow: 0 3px 9px 0 #3a3a3a, 0 0.2em 0.2em 0 #3a3a3a;
}

#top-button:hover {
  color: #42b6c4;
  background-color: midnightblue;
  cursor: pointer;
}
#back-top {
  border: 1px solid blue;
  border-radius: 100%;
  border-top: 1px solid green;
  width: 20px;
  height: 20px;
  animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    0% { transform: rotate(0deg);}
    100%{ transform:rotate(360deg);}
  }
  
  a {
    text-decoration: none;
  }

/* collapsible text */
.wrapper {
  display: flex;
  padding-top: 25px;
  justify-content: center;
}

.collapsible {
  max-width: 450px;
  overflow: hidden;
  font-weight: 600;
}

.collapsible input {
  display: none;  /* gets rid of the checkbox*/
}

.collapsible label {
  position: relative;
  font-weight: 700;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.6), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  color: #374e9a;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 80px;
  cursor: pointer;
  padding: 15px;
  border-radius: 0.75em;
  z-index: 1;
}

.collapsible-text {
  max-height: 1px;
  overflow: hidden;
  border-radius: 0.75em;
  line-height: 1.6;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.2s ease;
}

.collapsible input:checked ~ .collapsible-text {
  max-height: 480px;
  padding-bottom: 30px;
  background: #372121;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.5), 0 4px 11px 0 rgba(0, 0, 0, 0.08);
  opacity: 3;
  top: 0;
}

.collapsible-text h2 {
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: #374e9a;
  text-align: center;
}
.collapsible-text p {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

/* weekend meet up blocks */
#weekend {
  width: 18%;
 margin-top: 40px;
 margin-left: 39.4%;
 margin-right: hidden;
}

#weekend :hover {
  background-color: #5c5c5c;
}

#weekend div {
  width: 48%;
  color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  height: 200px; 
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 11px 0 hsla(0, 0%, 0%, 0.5), 0 4px 11px 0 hsla(0, 0%, 22%, 0.08);
}
#weekend {
  background-image: url(./images/blue-cup2.webp);
}

/* monthly updates on beneficial foods */
#food {
  width: 27%;
 margin-top: 60px;
 margin-left: 35%;
 margin-right: hidden;
}

#food :hover {
  background-color: #5c5c5c;
}

#food div {
  width: 31.8%;
  color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
  height: 200px; 
  display: inline-block;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: 0 5px 11px 0 hsla(0, 0%, 22%, 0.5), 0 4px 11px 0 hsla(0, 0%, 22%, 0.08);
}
#food {
  background-image: url(./images/blue-cup2.webp);
}


/* personal trainer div section */
#personal-trainer {
  margin-top: 80px;
  text-align: center;
}

#personal-trainer div {
  margin: 0 5% 0 5%;
  display: inline;
}

#pt1 {
  width: 300px;
  height: 300px;
  background-image: url();
}

#pt2 {
  width: 300px;
  height: 300px;
  background-image: url();
}

#pt3 {
  width: 300px;
  height: 300px;
  background-image: url();
}

#pt4 {
  width: 300px;
  height: 300px;
  background-image: url();
}

#pt5 {
  width: 300px;
  height: 300px;
  background-image: url();
}


/* footer links */
a:hover {
 color: #42b6c6;
}

footer a {
 margin: 0 20px 0 20px;
 font-size: 2em;
 text-decoration: none;
}

footer {
  text-align: center;
}

footer h3 {
  font-size: 2.4em;
}

footer p {
  margin-top: 20px;
}

iframe {
  margin-bottom: 20px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 15px 0 rgba(0, 0, 0, 0.08);
}

.address2 {
  font-size: 4em;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5), 0 4px 15px 0 rgba(0, 0, 0, 0.08);
}


