body {
  margin: 0;
  padding: 0;
}

header h1 {
  color: rgb(86, 147, 204);
  font-size: 2.5em!important;
  position: absolute;
  margin-top: -2.5px;
  margin-left: 2.5px;
}


nav ul {
  list-style: none;
  background-color: #4a4a4f;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 50px;
}

a:hover {
 color: #42b6c6;
 text-decoration: dotted;
}

a {
 text-decoration: none;
}

footer {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: flexbox;
}

nav a:hover {
  background-color: #fff;
  color: #41414f;
  border-radius: 0.60em;
}

nav li {
  font-size: 1em;
  display: inline-block;
  line-height: 32px;
  height: 32px;
  margin:1.5%;
}
